{% load static %}
<footer class="footer bg-style wow fadeInUp">
    <div class="container">
      <div class="footer-upper">
        <div class="row">
          <div class="col-lg-3 col-md-12">
            <div class="footer-widget about-widget"> <a href="#"> <img alt="" src="{% static 'website/images/logo/urban_vista_logo_footer.png' %}"> </a>
              <p>Insights into top residential areas: Adyar, Anna Nagar, T. Nagar, Velachery, OMR, ECR, and Porur.
                Upcoming hotspots: GST Road, Poonamallee, or Thirumazhisai.</p>
              <div class="readmore"><a href="#">Read More </a></div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3">
            <div class="footer-widget quick-links">
              <h3 class="title">Quick links</h3>
              <ul>
                <li><a href="{% url 'home' %}"> Home</a> </li>
                <li><a href="{% url 'plots_properties' %}"> Plots</a> </li>
                <li><a href="{% url 'appartments_properties' %}"> Appartments</a> </li>
                <li><a href="{% url 'individual_villa' %}"> Villas</a> </li>
                <li><a href="{% url 'commercial_properties' %}"> Commercials</a> </li>
                <li><a href="{% url 'gallery' %}"> Gallery</a> </li>
                <li><a href="{% url 'contact' %}"> Contact Us</a> </li>
                <li><a href="{% url 'about' %}"> About</a> </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-5">
            <div class="footer-widget contact">
              <h3 class="title">Recent Properties</h3>
              <ul class="property_sec">
                 <!-- <li>
                  <div class="rec_proprty">
                    <div class="propertyImg"><img alt="" src="{% static 'website/images/property_small01.jpg' %}"></div>
                    <div class="property_info">
                      <h4><a href="#">Plots</a></h4>
                      <p>Chennai Location</p>
                    <div class="priceWrp">$98.00</div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="rec_proprty">
                    <div class="propertyImg"><img alt="" src="{% static 'website/images/property_small02.jpg' %}"></div>
                    <div class="property_info">
                      <h4><a href="#">Appartments</a></h4>
                      <p>Metro City</p>
                    <div class="priceWrp">$98.00</div> 
                    </div>
                  </div>
                </li>  -->

 
                    {% for recent_villas in recent_villas %}
                  <li>
                    <div class="rec_proprty">
                      <div class="propertyImg">
                        {% if recent_villas.images.all %}
                        <img src="{{ recent_villas.images.all.0.image.url }}" 
                        alt="{{ recent_villas.title }}" 
                        style="width: 120px; height: 100px; object-fit: cover; object-position: center; border: 2px solid #ddd; border-radius: 5px; padding: 2px;">
                  
                        {% else %}
                          <img src="{% static 'website/images/property_placeholder.jpg' %}" 
                              alt="Property image placeholder" 
                              style="width: 120px; height: 100px; object-fit: cover; object-position: center;">
                        {% endif %}
                      </div>
                      <div class="property_info">
                        <h3>
                          <a style="text-decoration: none;color: white;" href="{% url 'villa_details' recent_villas.id %}">
                            {{ recent_villas.project_name }}
                          </a>
                        </h3>
                      <!-- <p>{{ recent_villas.area }}</p>
                        <div class="priceWrp">₹{{ recent_villas.total_price }}</div>  -->
                      </div>
                    </div>
                  </li>
                  {% empty %}
                    <li>No properties available at the moment.</li>
                  {% endfor %}
              </ul>  
            </div>
          </div>
          <div class="col-lg-3 col-md-4">
            <div class="footer-widget contact">
              <h3 class="title">Contact Info</h3>
              <ul class="footer-adress">
                <li class="footer_address"> <i class="fas fa-map-signs"></i> <span> Urban Vista Builder & Developer </span> </li>
                <li class="footer_email"> <i class="fas fa-envelope" aria-hidden="true"></i> <span style="margin: 10px;"><a href="mailto:info@realestate.com">urbanvistarealtorsandpromoters@gmaill.com  </a></span> </li>
                <li class="footer_phone"> <i class="fas fa-phone-alt"></i> <span><a href="tel:7704282433"> +91-7871827192</a></span> </li>
              </ul>
              <div class="social-icons footer_icon">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>