{% load static %}

<div class="header-wrap wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 navbar navbar-expand-lg navbar-light">
          <div class="header_logo"><a href="#"><img alt="" src="{% static 'website/images/logo.png' %}"></a></div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        </div>
        <div class="col-lg-9">
          <nav class="navbar navbar-expand-lg navbar-light"> <a class="navbar-brand" href="#">Navbar</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <button class="close-toggler" type="button" data-toggle="offcanvas"> <span><i class="fas fa-times-circle" aria-hidden="true"></i></span> </button>
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="index.html"> Home <span class="caret"><i class="fas fa-caret-down"></i></span></a> <i class="fas fa-caret-down"></i>
                  <ul class="submenu">
                    <li><a href="{% url 'index' %}">Home Image</a></li>
                    <li><a href="{% url 'index_slider' %}">Home Slider</a></li>
                    <li><a href="{% url 'index_video' %}">Home Video</a></li>
                    <li><a href="{% url 'index_map' %}">Home Map</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Properties <span class="caret"><i class="fas fa-caret-down"></i></span></a> <i class="fas fa-caret-down"></i>
                  <ul class="submenu">
                    <li><a href="{% url 'plots' %}">Plots</a></li>
                    <li><a href="{% url  'apartments' %}">Appartments</a></li>
                    <li><a href="{% url 'individual_villa' %}">Individual Villa</a></li>
                    <li><a href="{% url 'comercial_property' %}">Commercial Property</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Resale Properties<span class="caret"><i class="fas fa-caret-down"></i></span></a> <i class="fas fa-caret-down"></i>
                  <ul class="submenu">
                    <li><a href="{% url 'resale_plots' %}">Plots</a></li>
                    <li><a href="{% url  'resale_apartments' %}">Appartments</a></li>
                    <li><a href="{% url 'resale_individual_villa' %}">Individual Villa</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Construction<span class="caret"><i class="fas fa-caret-down"></i></span></a> <i class="fas fa-caret-down"></i>
                  <ul class="submenu">
                    <li><a href="{% url 'property_grid' %}">Construction Projects</a></li>
                    <li><a href="{% url  'property_list' %}">3D Designs</a></li>
                    <li><a href="{% url 'property_map' %}">Booking Procedure</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#"> Listing <span class="caret"><i class="fas fa-caret-down"></i></span></a> <i class="fas fa-caret-down"></i>
                  <ul class="submenu">
                    <li><a href="{% url 'property_grid' %}">Property Grid</a></li>
                    <li><a href="{% url  'property_list' %}">Property List</a></li>
                    <li><a href="{% url 'property_map' %}">Property Map</a></li>
                    <li><a href="{% url 'property_single' %}">Property Single</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#."> Features <span class="caret"><i class="fas fa-caret-down"></i></span></a> <i class="fas fa-caret-down"></i>
                  <ul class="submenu">
                    <li><a href="{% url 'agents' %}">Agents</a></li>
                    <li><a href="{% url 'agents_single' %}">Agents Single</a></li>
                    <li><a href="{% url 'agencies' %}">Agencies</a></li>
                    <li><a href="{% url 'agencies_single' %}">Agencies Details</a></li>
                    <li><a href="{% url 'submit_property' %}">Submit Property</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#."> Pages <span class="caret"><i class="fas fa-caret-down"></i></span></a> <i class="fas fa-caret-down"></i>
                  <ul class="submenu">
                  <li><a href="{% url 'about' %}">About Us</a></li>
                  <li><a href="{% url 'team' %}">Our Team</a></li>
                  <li><a href="{% url 'login' %}">Login</a></li>
                  <li><a href="{% url 'register' %}">Register</a></li>
                  <li><a href="{% url 'faqs' %}">Faqs</a></li>
                  <li><a href="{% url 'testimonials' %}">Testimonials</a></li>
                  <li><a href="{% url 'pricing' %}">Pricing Table</a></li>
                    <li><a href="{% url 'error' %}">Page 404 </a></li>
                    <li><a href="{% url  'typography' %}">Typography</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="blog.html"> Blog <span class="caret"><i class="fas fa-caret-down"></i></span></a> <i class="fas fa-caret-down"></i>
                  <ul class="submenu">
                    <li><a href="{% url 'blog' %}">Blog Grid</a></li>
                    <li><a href="{% url 'blog_grid' %}">Blog Grid with Sidebar</a></li>
                    <li><a href="{% url 'blog_list' %}">Blog List</a></li>
                    <li><a href="{% url 'blog_single' %}">Blog Single</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}"> Contact Us</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>