{% extends "dashboard/dashboard_base.html" %}
{% load static %} 

{% block content %}

<div class="main-content">

  <div class="page-content">
      <div class="container-fluid">

          <!-- start page title -->
          <div class="row">
              <div class="col-12">
                  <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                      <div class="page-title-right">
                          <ol class="breadcrumb m-0">
                              <li class="breadcrumb-item"><a >Properties</a></li>
                              <li class="breadcrumb-item active">Appartments</li>
                          </ol>
                          
                      </div>

                      <div class="page-title-left">
                        <ol class="breadcrumb m-0">
                          <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                              Property Type
                            </button>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu">
                              <form action="{% url 'plots' %}" method="post">
                                {% csrf_token %}
                                <input type='hidden' name="property_type" value="New" />
                                <button type='submit' class="dropdown-item" >New Sale Properties</button>
                              </form>
                                <div class="dropdown-divider"></div>
                                <form action="{% url 'plots' %}" method="post">
                                  {% csrf_token %}
                                  <input type='hidden' name="property_type" value="ReSale" />
                                  <button type='submit' class="dropdown-item" >ReSale Properties</button>
                                </form>
                            </div>
                        </div>
                        <!-- /btn-group -->
                        </ol>
                        
                    </div>

                  </div>
              </div>
          </div>
          <!-- end page title -->

          <!-- <div class="row">
            {% for plot in plots %}
              <div class="col-sm-6 col-xl-3">
                <div class="card">
                    {% if plot.images %}
                    {% with plot.images.all|first as first_image %}
                    {% if first_image %}
                        <img style="height: 300px;" class="card-img-top img-fluid" src="{{ first_image.image.url }}" alt="Card image cap">
                    {% else %}
                        <img class="card-img-top img-fluid" src="{% static 'website/images/propertyImg03.jpg' %}" alt="Default image cap">
                    {% endif %}
                {% endwith %}
                    {% endif %}
                      <div class="card-body">
                          <h4 class="card-title mb-2">{{plot.title}}</h4>
                          <p class="card-text">{{plot.description}}</p>
                          <div class="text-end">
                              <a href="" class="btn btn-primary">View</a>
                          </div>
                      </div>
                  </div>
              </div>
            {% endfor %}
          </div> -->


          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title mb-0">Buttons Datatables</h5>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="buttons-datatables" class="display table table-bordered table-nowrap" style="width:100%">
                      <thead>
                        <tr>
                          <th>SR No.</th>
                          <th>ID</th>
                          <th>Project Name</th>
                          <th>Title</th>
                          <th>Description</th>
                          <th>SQFT Per Price </th>
                          <th>Area</th>
                          <th>Address</th>
                          <th>Near By School in Km</th>
                          <th>Near By Railway Station in Km</th>
                          <th>Length</th>
                          <th>Breath</th>
                          <th>Total Sqft</th>
                          <th>Total Price</th>
                          <th>facing</th>
                          <th>listed_by</th>
                          <th>property_type</th>
                          <th>images</th>
                          <th>avaliable</th>
                          <th>created_at</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for plot in plots %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ plot.id }}</td>
                          <td>{{ plot.project_name }}</td>
                          <td>{{ plot.title }}</td>
                          <td>{{ plot.description }}</td>
                          <td>{{plot.sqft}}</td>
                          <td>{{ plot.area }}</td>
                          <td>{{ plot.address }}</td>
                          <td>{{ plot.nearby_school }}</td>
                          <td>{{ plot.nearby_busortrain }}</td>
                          <td>{{ plot.length }}</td>
                          <td>{{ plot.breadth }}</td>
                          <td>{{ plot.total_sqft }}</td>
                          <td>{{ plot.total_price }}</td>
                          <td>{{ plot.facing }}</td>
                          <td>{{ plot.listed_by }}</td>
                          <td>{{ plot.property_type }}</td>
                          
                          <td>
                            {% for image in plot.images.all %}
                            <img src="{{ image.image.url }}" alt="{{ image.image.name }}" width="100">
                            {% endfor %}
                          </td>
                          <td>{{ plot.avaliable }}</td>
                          <td>{{ plot.created_at }}</td>


                          <td>
                            {% if plot.id %}
                                <a href="{% url 'edit_plot' plot.id %}" class="btn btn-warning btn-sm">Edit</a>
                                <a href="{% url 'delete_plot' plot.id %}" class="btn btn-danger btn-sm"
                                  onclick="return confirm('Are you sure you want to delete this villa?')">Delete</a>
                            {% else %}
                                <span class="text-muted">No actions available</span>
                            {% endif %}
                          </td>
    
                       
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>


      </div>
      <!-- container-fluid -->
  </div>
  <!-- End Page-content -->




{% endblock content %}